<div class="top-brands">
    <div class="container">
        <h3>Top Brands</h3>
        <div class="sliderfig">
            <ul id="flexiselDemo1">
                <li>
                    <img src="assets/images/4.png" alt=" " class="img-responsive"/>
                </li>
                <li>
                    <img src="assets/images/5.png" alt=" " class="img-responsive"/>
                </li>
                <li>
                    <img src="assets/images/6.png" alt=" " class="img-responsive"/>
                </li>
                <li>
                    <img src="assets/images/7.png" alt=" " class="img-responsive"/>
                </li>
                <li>
                    <img src="assets/images/46.jpg" alt=" " class="img-responsive"/>
                </li>
            </ul>
        </div>
    </div>
</div>