<div class="modal video-modal fade" id="productModal" tabindex="-1" role="dialog"
     aria-labelledby="productModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
            </div>
            <section>
                <div class="modal-body">
                    <div class="col-md-5 modal_body_left">
                        <img src="" alt="" class="img-responsive" id="productModalImage"/>
                    </div>
                    <div class="col-md-7 modal_body_right">
                        <h4 id="productPopupShortDescription"></h4>
                        <p id="productPopupFullDescription"></p>
                        <div class="modal_body_right_cart simpleCart_shelfItem">
                            <p><span id="productPopupPrice"></span> <i class="item_price" id="productPopupPriceOld"></i></p>
                            <p><a class="item_add" href="#">Add to cart</a></p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </section>
        </div>
    </div>
</div>
