{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ path('password_reset') }}" method="post">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" />
        <button type="submit">Send reset link</button>
    </form>
{% endblock %}

{% block stylesheets %}
{% endblock %}
